body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}


#matrix {
    border: 2px solid #cc0000;
    width: 800px;
    height: 600px;
    margin: 0 auto;
    position: relative;
}

#player {
    width: 60px;
    height: 60px;
    background: #ccc;
    position: absolute;
    top: 10px;
    left: 10px;
}
